<section class="tourHeading-section">
  <div class="tourHeading">
    <div class="tourHeadingLeft">
      <div class="searchBar">
        <div class="searchBar-input">
          <input type="text" class="searchInput" placeholder="Tìm tour..." />
        </div>
        <div class="line">
        </div>
        <div class="searchBar-icon">
          <span class="material-icons-outlined">
            search
          </span>
        </div>
      </div>
    </div>
    <div class="tourHeadingRight">
      <div class="paginationBar">
        <div class="paginationBar-btn">
          <span class="material-icons-outlined">
            chevron_left
          </span>
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn current-page">
          1
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          2
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          ...
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          5
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          6
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          <span class="material-icons-outlined">
            chevron_right
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="toursTable-section">
  <div class="table-responsive toursTable-container">
    <table class="table-bordered table toursTable">
      <thead id="toursTable-heading">
        <tr class="toursTable-heading_row">
          <th class="tourTable-heading_title" scope="col">
            <input type="checkbox" class="allCheck" />
          </th>
          <th class="tourTable-heading_title" scope="col">
            STT
          </th>
          <th class="tourTable-heading_title" scope="col">
            Mã Tour
          </th>
          <th class="tourTable-heading_title" scope="col">
            Tên Tour
          </th>
          <th class="tourTable-heading_title" scope="col">
            Giá vé
          </th>
          <th class="tourTable-heading_title" scope="col">
            Ngày khởi hành
          </th>
          <th class="tourTable-heading_title" scope="col">
            Ngày/Đêm
          </th>
          <th class="tourTable-heading_title" scope="col">
            Vé trống
          </th>
          <th class="tourTable-heading_title" scope="col">
            <span class="material-icons-outlined">
              more_vert
            </span>
          </th>
        </tr>
      </thead>
      <tbody id="toursTableBody">
        {{#each tours}}
        <tr>
          <td class="">
            <input type="checkbox" class="singleCheck" />
          </td>
          <td class="">
            <p class="toursTable-data">
              {{getIndex @index}}
            </p>
          </td>
          <td class="">
            <p class="toursTable-data tourId">
              {{this._id}}
            </p>
          </td>
          <td class="">
            <p class="toursTable-data tourName">
              {{this.tour_name}}
            </p>
          </td>
          <td class="">
            <p class="toursTable-data">
              {{this.tour_price}}
            </p>
          </td>
          <td class="">
            <p class="toursTable-data">
              {{convertDateToDay this.tour_starting_day}}
            </p>
          </td>
          <td class="">
            <p class="toursTable-data">
              {{this.tour_number_of_days}}/{{this.tour_number_of_nights}}
            </p>
          </td>

          <td class="">
            <p class="toursTable-data">
              {{this.tour_total_ticket_available}}
            </p>
          </td>
          <td class="">
            <div class="toursAction_container">
              <span class="material-icons toursAction-icon">
                more_vert
              </span>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>