<div class="staff__body position-relative">
    <div class="staff">
        <div class="staff__form">
            <div class="staff__flex-group">
                <input type="hidden" name="staff-id" value="{{staff._id}}"/>
                <div class="staff__form-group">
                    <label for="staff-name" class="staff__label">Tên nhân viên: </label>
                    <input type="text" name="staff-name" id="staff-name" class="staff__input"
                        placeholder="Nhập tên nhân viên..." value="{{staff.user_name}}">
                </div>
                <div class="staff__form-group">
                    <label for="staff-gender" class="staff__label">Giới tính: </label>
                    <select name="staff-gender" id="staff-gender" class="staff__select">
                        <option value="" disabled {{#unless staff.user_gender}}selected{{/unless}}> Chọn giới tính
                        </option>
                        <option value="false" {{#if (eq staff.user_gender false)}}selected{{/if}}> Nữ </option>
                        <option value="true" {{#if (eq staff.user_gender true)}}selected{{/if}}> Nam </option>
                    </select>
                </div>
                <div class="staff__form-group">
                    <label for="staff-phone" class="staff__label">Số điện thoại: </label>
                    <input type="tel" name="staff-phone" id="staff-phone" class="staff__input"
                        placeholder="Nhập số điện thoại..." value="{{staff.user_phone_number}}">
                </div>
            </div>
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-email" class="staff__label">Email: </label>
                    <input type="email" name="staff-email" id="staff-email" class="staff__input"
                        placeholder="Nhập email..." value="{{staff.user_email}}">
                </div>
                <div class="staff__form-group">
                    <label for="staff-password" class="staff__label">Mật khẩu: </label>
                    <input type="password" name="staff-password" id="staff-password" class="staff__input"
                        placeholder="Nhập mật khẩu...">
                </div>
                <div class="staff__form-group">
                    <label for="staff-birthday" class="staff__label">Ngày sinh: </label>
                    <input type="date" name="staff-birthday" id="staff-birthday"
                        class="staff__input" placeholder="Chọn ngày sinh..." value="{{staff.user_birthday}}">
                </div>
            </div>
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-province" class="staff__label">Tỉnh/Thành phố: </label>
                    <select name="staff-province" id="staff-province" class="staff__select">
                        <option value="" disabled {{#unless staff.user_address}}selected{{/unless}}>Chọn tỉnh/thành phố</option>
                        {{#if staff.user_address}}
                        <option value="{{staff.user_address.province}}" disabled selected>
                            {{staff.user_address.province}}</option>
                        {{/if}}
                    </select>
                </div>
                <div class="staff__form-group">
                    <label for="staff-district" class="staff__label">Huyện/Quận: </label>
                    <select name="staff-district" id="staff-district" class="staff__select">
                        <option value="" disabled {{#unless staff.user_address}}selected{{/unless}}> Chọn quận/huyện
                        </option>
                        {{#if staff.user_address}}
                        <option value="{{staff.user_address.district}}">{{staff.user_address.district}}</option>
                        {{/if}}
                    </select>
                </div>
            </div>
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-ward" class="staff__label">Xã/Phường: </label>
                    <select name="staff-ward" id="staff-ward" class="staff__select">
                        <option value="" disabled {{#unless staff.user_address}}selected{{/unless}}>Chọn phường/xã
                        </option>
                        {{#if staff.user_address}}
                        <option value="{{staff.user_address.ward}}">{{staff.user_address.ward}}</option>
                        {{/if}}
                    </select>
                </div>
                <div class="staff__form-group">
                    <label for="staff-street" class="staff__label">Đường: </label>
                    <input type="text" name="staff-street" id="staff-street" class="staff__input"
                        placeholder="Nhập đường..." value="{{staff.user_address.street}}">
                </div>
            </div>
            <div class="staff__form-group tour__form-group--submit w-100">
                <button class="staff__submit-button" id="staff__submit-button">
                    <i class="material-icons">save</i>
                    Lưu
                </button>
                <button class="staff__delete-button" id="staff__delete-button">
                    <i class="material-icons">delete</i>
                    Xóa
                </button>
            </div>
        </div>
    </div>
    
</div>