<section class="bookingHeading-section">
  <div class="bookingHeading">
    <div class="bookingHeadingLeft">
      <div class="searchBar">
        <div class="searchBar-input">
          <input type="text" class="searchInput" placeholder="Tìm booking..." />
        </div>
        <div class="line">
        </div>
        <div class="searchBar-icon">
          <span class="material-icons-outlined">
            search
          </span>
        </div>
      </div>
    </div>
    <div class="bookingHeadingRight">
      <div class="paginationBar">
        <div class="paginationBar-btn">
          <span class="material-icons-outlined">
            chevron_left
          </span>
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn current-page">
          1
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          2
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          ...
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          5
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          6
        </div>
        <div class="pageLine"></div>
        <div class="paginationBar-btn">
          <span class="material-icons-outlined">
            chevron_right
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bookingsTable-section">
  <div class="table-responsive bookingsTable-container">
    <table class="table-bordered table bookingsTable">
      <thead id="bookingsTable-heading">
        <tr class="bookingsTable-heading_row">
          <th class="bookingTable-heading_title" scope="col">
            <input type="checkbox" class="allCheck" />
          </th>
          <th class="bookingTable-heading_title" scope="col">
            STT
          </th>
          <th class="bookingTable-heading_title" scope="col">
            Mã Booking
          </th>
          <th class="bookingTable-heading_title" scope="col">
            Tên Tour
          </th>
          <th class="bookingTable-heading_title" scope="col">
            Tên KH
          </th>
          <th class="bookingTable-heading_title" scope="col">
            Ngày tạo
          </th>
          <th class="bookingTable-heading_title" scope="col">
            Tổng tiềng
          </th>
          <th class="bookingTable-heading_title" scope="col">
            Trạng thái
          </th>
          <th class="bookingTable-heading_title" scope="col">
            <span class="material-icons-outlined">
              more_vert
            </span>
          </th>
        </tr>
      </thead>
      <tbody id="bookingsTableBody">
        {{#each bookings}}
        <tr>
          <td class="">
            <input type="checkbox" class="singleCheck" />
          </td>
          <td class="">
            <p class="bookingsTable-data">
              {{getIndex @index}}
            </p>
          </td>
          <td class="">
            <p class="bookingsTable-data bookingId">
              {{this._id}}
            </p>
          </td>
          <td class="">
            <p class="bookingsTable-data tourName">
              {{this.tour.tour_name}}
            </p>
          </td>
          <td class="">
            <p class="bookingsTable-data">
              {{this.customer.user_name}}
            </p>
          </td>
          <td class="">
            <p class="bookingsTable-data">
              {{convertDateToDay this.created_at}}
            </p>
          </td>
          <td class="">
            <p class="bookingsTable-data">
              {{this.booking_total_price}}
            </p>
          </td>

          <td class="">
            <p class="bookingsTable-data">
                {{#ifEquals this.booking_status "true"}}
                    Đã thanh toán
                {{else}}
                    Chưa thanh toán
                {{/ifEquals}}
            </p>
          </td>
          <td class="">
            <div class="bookingsAction_container">
              <span class="material-icons bookingsAction-icon">
                more_vert
              </span>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>